body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-container input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.form-container form {
    width: 100%;
}

.form-container a {
    margin-top: 10px;
}

a.create {
    display: block;
    width: 50px;
    margin-top: 100px;
    margin-left: 0px;
    text-decoration: none;
    text-align: center;
    color: red;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: darkslategrey;

}